
langchain==0.3.20
langchain-core==0.3.52
langchain-community==0.3.19
langchain-ollama==0.2.1
langchain-chroma==0.1.4
chromadb==0.5.23
numpy>=1.24.0,<2.0.0
pypdf==4.0.1
requests==2.32.4
beautifulsoup4==4.12.2
python-dotenv==1.0.1
pandas==2.2.3

ollama
google-genai
langchain-google-genai
psycopg2-binary==2.9.10
protobuf==5.29.3
sentence-transformers